@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  box-sizing: content-box;
  width: 100%;
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  display: flex;
  justify-content: center;
  flex-flow:row nowrap;
  position: relative;
  
}
.webgl{
  position: absolute;
  top:0;
  z-index:-1
}
.navbar-custom{
  display: flex;
  padding-inline: .5em;
  width: 100%;
  top:0;
  background: linear-gradient(to right, #645f5f 0%, rgb(46, 38, 38) 100%);
  position: fixed;
}
.navbar-box{
  display:flex;
  justify-items: center;
  min-width: fit-content;
}
.main-container{
  width: 100%;
  position: relative;
  margin-top: 75px;
}
.gradient-text {
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #f3ec78, #af6e429f);
  
}
.dropdown-menu{
  background: linear-gradient(to right, #645f5f 0%, rgb(46, 38, 38) 100%);
  position: absolute;
  top: 0px;
  right: 0;
  padding-block: 10px;
  width: 290px;
}
.dropdown-iconimg{
  background: transparent;
  padding:2px
}
.dropdown-iconimg:hover{
  border-radius: 50%;
  background:linear-gradient(45deg, #f3ed7877, #af6e4283);
  box-shadow: 2px 2px 3px #f3ed78d5,;
}
.dropdown-item{
  font-weight: 700;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.dropdown-item:hover{
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #f3ec78, #af6e42);
}
.auth-btn{
  background: linear-gradient(45deg, #f3ec78, #af6e42);
  padding-block: 3px;
  padding-inline: 5px;
  border-radius: 5px;
  color: #333333;
  font-weight: 700;
}
.button-box{
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: space-between;
  padding-inline: 0px;
  overflow: hidden;

}
.logout-image{
  border-radius: 50%;
}
.card-container{
  border-radius: 5px;
  border: solid .3px #333333;
  margin-block: 5px;
}
.card-header{
  background:linear-gradient(to right, #645f5f 0%, rgb(46, 38, 38) 100%); ;
  color:white;
  display: flex;
  padding-inline: 10px;
  justify-content: space-between;
}